.footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background-color: var(--color-bg-alt);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.foot-icon {
    font-size: 25px;
    color: var(--color-text);
}